# Auth service
AUTH_PORT=3001
AUTH_SERVICE_NAME=auth

# Passport service
PASSPORT_PORT=3002
PASSPORT_SERVICE_NAME=passport

# Document service
DOCUMENT_PORT=3003
DOCUMENT_SERVICE_NAME=document

# Notification service
NOTIFICATION_PORT=3004
NOTIFICATION_SERVICE_NAME=notification

# MongoDB
MONGO_URI=mongodb://mongodb:27017/battery-passport

# Kafka
KAFKA_BROKER=kafka:9092

# MinIO (S3 compatible)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_ENDPOINT=http://minio:9000
MINIO_BUCKET=documents
